@model ThAmCo.Events.Models.EventDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-3">
        <h4>Event</h4> <br />
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.GuestCount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GuestCount)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Menu)
            </dt>
            <dd>
                @if (Model.Menu != null)
                {
                    @Html.DisplayFor(model => model.Menu) <br />
                    @Html.ActionLink("Change Food", "AvailableMenus", "Events", new { eventid = Model.Id }) <br />
                    @Html.ActionLink("Cancel Food", "CancelMenu", "Events", new { eventid = Model.Id })
                }
                else
                {
                    @Html.ActionLink("Book Food", "AvailableMenus", "Events", new { eventid = Model.Id })
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FoodCost)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FoodCost)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TotalFoodCost)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TotalFoodCost)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Venue)
            </dt>
            <dd>
                @if (Model.Venue != null)
                {
                    @Html.DisplayFor(model => model.Venue)
                }
                else
                {
                    @Html.ActionLink("Book Venue", "AvailableVenues", "Events", new { eventid = Model.Id })
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.VenueCost)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VenueCost)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TotalCost)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TotalCost)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CorrectStaff)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CorrectStaff)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FirstAider)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstAider)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TypeId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TypeId)
            </dd>
        </dl>
    </div>
    <div class="col-md-5">
        <h4>Guests</h4>
        <a asp-controller="GuestBookings" asp-action="CreateFromEvent" asp-route-eventid="@Model.Id">Add Guest</a> | <a asp-controller="GuestBookings" asp-action="Delete" asp-route-eventid="@Model.Id">Remove Guest</a>
        <hr />
        @if (Model.Guests.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Attended?
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Guests)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Attended)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", "Customers", new { id = item.Id }) |
                                @Html.ActionLink("Attendance", "Edit", "GuestBookings", new { eventid = Model.Id, customerid = item.Id })

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Guests booked</p>
        }
    </div>
    <div class="col-md-4">
        <h4>Staff</h4>
        <a asp-controller="Staffings" asp-action="CreateFromEvent" asp-route-eventid="@Model.Id">Add Staff</a> | <a asp-controller="Staffings" asp-action="Delete" asp-route-eventid="@Model.Id">Remove Staff</a>
        <hr />
        @if (Model.Staff.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            Staff Code
                        </th>
                        <th>
                            Name
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Staff)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StaffCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Staff scheduled</p>
        }
    </div>
</div>



<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
